@{
                /**/

                ViewBag.Title = "Pharmacy Search";
}
<b>@Html.ActionLink("No modal", "Index", "Home")</b>&nbsp;|&nbsp;@Html.ActionLink("Modal", "Modal", "Home")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsjXnttbPvETsUXTkuj0pZpV-p209qg-8&callback=initMap" type="text/javascript"></script>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pharmacies</h3>
            </div>
            <div class="panel-body">
                <table Class="table table-bordered table-hover  table-striped " id="pharmacies">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Pharmacy</th>
                            <th>Total Cost</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div id="map" style="height: 550px;"></div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">

        $("#pharmacies")
            .DataTable({
                "processing": true,
                "paging": false,
                "searching": false,
                ajax: {
                    url: "/api/RxStream/ListEstimate",
                    type: "POST",
                    data: {},
                    error: function (ts) {
                        alert(ts.responseText);
                    }
                },
                columns: [
                    {
                        data: "Npi",
                        render: function (data, type, pharmacy) {
                            return '<input type=radio id="Npi" name="Npi" value="' + pharmacy.Npi + '"/>';
                        }
                    },
                    { data: "PharmacyName" },
                    {
                        data: "TotalCost",
                        render: function (data, type, pharmacy) {
                            return '$' + pharmacy.TotalCost;
                        }
                    }
                ]
            }
            );


        function SelectPharmacy(npi) {
            $('input[name=Npi][value=' + npi + ']').prop('checked', true);
        }

        var map;
        function initMap() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/api/RxStream/MapEstimate",
                data: "{}",
                dataType: "json",
                success: function (data) {
                    var myOptions = {
                        center: new google.maps.LatLng(data[0].Latitude, data[0].Longitude),
                        zoom: 13,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    map = new google.maps.Map(document.getElementById("map"), myOptions);

                    var ltlng = [];
                    for (var i = 0; i <= data.length; i++) {

                        ltlng.push(new google.maps.LatLng(data[i].Latitude, data[i].Longitude));

                        marker = new google.maps.Marker({
                            map: map,
                            animation: google.maps.Animation.DROP,
                            title: data[i].Name,
                            position: ltlng[i],
                            icon: data[i].Icon
                        });


                        (function (marker, i) {
                            google.maps.event.addListener(marker, 'click', function () {
                                //infowindow = new google.maps.InfoWindow({ maxWidth: 250 });
                                //infowindow.setContent(data[i].Name);
                                //infowindow.open(map, marker);
                                SelectPharmacy(data[i].Id);
                            });

                        })(marker, i);
                    }
                },
                error: function (result) {
                    alert("Error");
                }
            });
        };

        $(document).ready(function () {
            initMap();
        });

        

    </script>
} 